@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

/* 회사정보 smooth Scroll 적용을 위함 */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 5rem);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Intro text fade-In animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 280px) {
  html {
    @apply text-[5px];
  }
}

@media screen and (min-width: 281px) {
  html {
    @apply text-[10px];
  }
}

@media screen and (min-width: 768px) {
  html {
    @apply text-[16px];
  }
}

@keyframes my-pulse {
  50% {
    opacity: 0.5;
    transform: scale(1.02);
  }
  0%,
  100% {
    transform: scale(1);
  }
}
.my-animate-pulse {
  animation: my-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
